In [27]:
import pandas as pd

import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data.head()

  whoAmI
0  human
1  human
2  robot
3  human
4  robot

In [28]:
data['tmp'] = 1
data.set_index([data.index, 'whoAmI'], inplace=True, drop=True)
print(data)

           tmp
   whoAmI
0  human     1
1  human     1
2  robot     1
3  human     1
4  robot     1
5  robot     1
6  robot     1
7  robot     1
8  human     1
9  robot     1
10 robot     1
11 human     1
12 robot     1
13 human     1
14 robot     1
15 human     1
16 human     1
17 human     1
18 robot     1
19 human     1

In [29]:
data = data.unstack(level=-1, fill_value = 0).astype(int)
print(data)

         tmp
whoAmI human robot
0          1     0
1          1     0
2          0     1
3          1     0
4          0     1
5          0     1
6          0     1
7          0     1
8          1     0
9          0     1
10         0     1
11         1     0
12         0     1
13         1     0
14         0     1
15         1     0
16         1     0
17         1     0
18         0     1
19         1     0

In [30]:
data.columns = data.columns.droplevel()
data.columns.name = None
print(data)

    human  robot
0       1      0
1       1      0
2       0      1
3       1      0
4       0      1
5       0      1
6       0      1
7       0      1
8       1      0
9       0      1
10      0      1
11      1      0
12      0      1
13      1      0
14      0      1
15      1      0
16      1      0
17      1      0
18      0      1
19      1      0